body {
    margin: 0;
  }

  #header {
    height: 50px;
    background-color: #efe9eb;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  #title {
      position: relative;
      top: 1px;
      left: 40px;
  }

  #nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 60px;
  }

  #nav-links > div {
      padding-left: 55px;
      padding-right: 55px;
      padding-top: 8px;
  }

  #center-img-container {
    height: 353px;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F6F6F6;
  }
  
  #third-div {
    height: 160px;
    background-color: #e9e7e8;
    display: flex;
    justify-content: space-evenly;
  }

  #third-div-first-col {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
  }

  #third-div-second-col {
      display: flex;
      justify-content: center;
      align-items: flex-end;
  }

  h1 {
      font-size: 20px;
      margin: 5px;
      margin-bottom: 10px;
      margin-left: 0px;
      color: #ce7584;
  }

  h2 {
      font-size: 12px;
      margin: 5px;
      margin-left: 0px;
      font-weight: 20;
      color: rgb(116, 116, 112);
  }

  h4 {
      font-size: 8px;
      margin: 0px;
      margin-bottom: 10px;
      line-height: 14px;
      color: rgb(116, 116, 112);
  }

  #underline-text {
      text-decoration: underline;
  }

  #footer {
      height: 100px;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      background-color: #c3c21a;
  }